# packages in environment at /Users/robertlukoshko/mambaforge/envs/cvv:
#
# Name                    Version                   Build  Channel
aom                       3.5.0                h7ea286d_0    conda-forge
bzip2                     1.0.8                h3422bc3_4    conda-forge
c-ares                    1.18.1               h3422bc3_0    conda-forge
ca-certificates           2022.9.24            h4653dfc_0    conda-forge
cairo                     1.16.0            h73a0509_1014    conda-forge
certifi                   2023.7.22                pypi_0    pypi
charset-normalizer        3.3.2                    pypi_0    pypi
expat                     2.5.0                hb7217d7_0    conda-forge
ffmpeg                    5.1.2           gpl_hf4c414c_103    conda-forge
font-ttf-dejavu-sans-mono 2.37                 hab24e00_0    conda-forge
font-ttf-inconsolata      3.000                h77eed37_0    conda-forge
font-ttf-source-code-pro  2.038                h77eed37_0    conda-forge
font-ttf-ubuntu           0.83                 hab24e00_0    conda-forge
fontconfig                2.14.1               h82840c6_0    conda-forge
fonts-conda-ecosystem     1                             0    conda-forge
fonts-conda-forge         1                             0    conda-forge
freetype                  2.12.1               hd633e50_0    conda-forge
gettext                   0.21.1               h0186832_0    conda-forge
gmp                       6.2.1                h9f76cd9_0    conda-forge
gnutls                    3.7.8                h9f1a10d_0    conda-forge
graphite2                 1.3.13            h9f76cd9_1001    conda-forge
harfbuzz                  5.3.0                hddbc195_0    conda-forge
hdf5                      1.12.2          nompi_h33dac16_100    conda-forge
icu                       70.1                 h6b3803e_0    conda-forge
idna                      3.4                      pypi_0    pypi
jasper                    2.0.33               hba35424_0    conda-forge
jpeg                      9e                   he4db4b2_2    conda-forge
krb5                      1.19.3               he492e65_0    conda-forge
lame                      3.100             h1a8c8d9_1003    conda-forge
lerc                      4.0.0                h9a09cb3_0    conda-forge
libblas                   3.9.0           16_osxarm64_openblas    conda-forge
libcblas                  3.9.0           16_osxarm64_openblas    conda-forge
libcurl                   7.86.0               h1c293e1_1    conda-forge
libcxx                    14.0.6               h2692d47_0    conda-forge
libdeflate                1.14                 h1a8c8d9_0    conda-forge
libedit                   3.1.20191231         hc8eb9b7_2    conda-forge
libev                     4.33                 h642e427_1    conda-forge
libffi                    3.4.2                h3422bc3_5    conda-forge
libgfortran               5.0.0           11_3_0_hd922786_26    conda-forge
libgfortran5              11.3.0              hdaf2cc0_26    conda-forge
libglib                   2.74.1               h4646484_1    conda-forge
libiconv                  1.17                 he4db4b2_0    conda-forge
libidn2                   2.3.4                h1a8c8d9_0    conda-forge
liblapack                 3.9.0           16_osxarm64_openblas    conda-forge
liblapacke                3.9.0           16_osxarm64_openblas    conda-forge
libnghttp2                1.47.0               h519802c_1    conda-forge
libopenblas               0.3.21          openmp_hc731615_3    conda-forge
libopencv                 4.6.0            py38h6e4ee2f_6    conda-forge
libpng                    1.6.38               h76d750c_0    conda-forge
libprotobuf               3.21.9               hb5ab8b9_0    conda-forge
libsqlite                 3.40.0               h76d750c_0    conda-forge
libssh2                   1.10.0               h7a5bd25_3    conda-forge
libtasn1                  4.19.0               h1a8c8d9_0    conda-forge
libtiff                   4.4.0                hfa0b094_4    conda-forge
libunistring              0.9.10               h3422bc3_0    conda-forge
libvpx                    1.11.0               hc470f4d_3    conda-forge
libwebp-base              1.2.4                h57fd34a_0    conda-forge
libxml2                   2.10.3               h87b0503_0    conda-forge
libzlib                   1.2.13               h03a7124_4    conda-forge
llvm-openmp               15.0.5               h7cfbb63_0    conda-forge
ncurses                   6.3                  h07bb92c_1    conda-forge
nettle                    3.8.1                h63371fa_1    conda-forge
numpy                     1.23.4           py38h09ac2d9_1    conda-forge
opencv                    4.6.0            py38h150bfb4_6    conda-forge
openh264                  2.3.1                hb7217d7_1    conda-forge
openssl                   3.0.7                h03a7124_0    conda-forge
p11-kit                   0.24.1               h29577a5_0    conda-forge
pcre2                     10.40                hb34f9b4_0    conda-forge
pillow                    10.1.0                   pypi_0    pypi
pip                       22.3.1             pyhd8ed1ab_0    conda-forge
pixman                    0.40.0               h27ca646_0    conda-forge
py-opencv                 4.6.0            py38hfbcc8b7_6    conda-forge
python                    3.8.13          hd3575e6_0_cpython    conda-forge
python_abi                3.8                      2_cp38    conda-forge
readline                  8.1.2                h46ed386_0    conda-forge
requests                  2.31.0                   pypi_0    pypi
setuptools                65.5.1             pyhd8ed1ab_0    conda-forge
sqlite                    3.40.0               h2229b38_0    conda-forge
svt-av1                   1.3.0                h7ea286d_0    conda-forge
tk                        8.6.12               he1e0b03_0    conda-forge
urllib3                   2.0.7                    pypi_0    pypi
wheel                     0.38.4             pyhd8ed1ab_0    conda-forge
x264                      1!164.3095           h57fd34a_2    conda-forge
x265                      3.5                  hbc6ce65_3    conda-forge
xz                        5.2.6                h57fd34a_0    conda-forge
zlib                      1.2.13               h03a7124_4    conda-forge
zstd                      1.5.2                h8128057_4    conda-forge
